<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com-jernung-plugin-firebase-analytics"
        version="0.1.0">

  <name>Firebase Analytics Plugin</name>
  <description>A Cordova plugin for Firebase Analytics.</description>
  <author>Jernung, LLC</author>
  <license>MIT</license>
  <keywords>cordova,firebase,analytics</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0" />
  </engines>

  <js-module src="www/firebase-analytics.js" name="FirebaseAnalyticsPlugin">
    <clobbers target="plugins.firebase.analytics" />
  </js-module>

  <platform name="android">

    <dependency id="com-jernung-plugin-firebase" url="https://github.com/mcfarljw/cordova-plugin-firebase" />

    <config-file target="config.xml" parent="/*">
      <feature name="FirebaseAnalyticsPlugin" >
        <param name="android-package" value="com.jernung.plugins.firebase.analytics.FirebaseAnalyticsPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>

    <framework src="com.google.firebase:firebase-core:11.4.2" />

    <source-file src="src/android/FirebaseAnalyticsPlugin.java" target-dir="src/com/jernung/plugins/firebase/analytics" />

  </platform>

</plugin>
